body {

margin: 0px;
background-color: rgb(213, 225, 239);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;

}


.card {

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 450px;
width: 300px;
background-color: #FFFFFF;
border-radius: 10px;

}

img {

height: 260px;
width: 260px;
border-radius: 10px;

}


h1 {

font-size: 22px;
line-height: 120%;
letter-spacing: 0px;
text-align: center;
color: #1F314F;

}

p {

text-align: center;
font-size: 15px;
line-height: 140%;
letter-spacing: 0.2px;
color: #68778D;

}


.text {

width: 250px;

}